[submodule "Visual_Odom_KITTI"]
	path = Visual_Odom_KITTI
	url = https://github.com/FoamoftheSea/KITTI_visual_odometry.git
[submodule "KITTI_visual_odom"]
	path = KITTI_visual_odom
	url = https://github.com/FoamoftheSea/KITTI_visual_odometry.git
[submodule "KITTI_Visual_Odometry"]
	path = KITTI_Visual_Odometry
	url = https://github.com/FoamoftheSea/KITTI_visual_odometry.git
